.create{
display: flex;
}
.create_left{
float: left;
}
.create_right{
    float: right;
}
*{
    font-family: "Arial Black";
}
body{
    background-color: white;
}
input {
    width: 50%;
    padding: 12px 20px;
    margin: 15px 0;
    border: solid #32a1ce;

}



textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: solid #32a1ce;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.button{
    width: 15%;
    height: 50px;
    margin-top:10px;
    margin-right: 10px;
    color: white;
    text-align: center;
    border: solid 2px  black;

}
.button_create{
    background: darkmagenta;
}
.button_delete{
    background: red;
}
.button_edit{
    background: darkcyan;
}


.row {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid blue;
    border-radius: 4px;
    padding: 12px 20px;
    background-color: white;
    color: black;
}

a{
    text-decoration: none;
}
.a_product{
    background-color:cornflowerblue;
    margin: 10px;
    border: solid blue ;
    padding: 5px;
    text-align: center;
}
.my-block {
    display: block;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: darkblue;
}


.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    display: flex;
    justify-content: center;
}


body, html {
    color: #fff;
    font-family: 'Abel', sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

body {
    background-color:white;
    font-size: 1.2em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.text-box {
    background-color: rgba(230, 126, 34,0.8);
    border-radius: 20px;
    margin: 2em auto;
    padding: 20px;
    width: 90%;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 1em;
    font-weight: bold;
}

p {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
}

hr {
    width: 70%;
    margin: 10px auto;
}

.container {
    background-color: rgba(22, 160, 133,0.7);
    border-radius: 20px;
    margin: auto;
    width: 90%;
    padding: 1em;

}

#survey-form {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    vertical-align: top;
    margin-top: 20px;
    color: black;
}

.input-tab {
    display: inline-block;
    text-align: left;
    width: 50%;
    margin-left: 10px;
}

.input-field {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin: 18px 0 0 10px;
    border: 1px solid #e67e22;
    border-radius: 4px;
    font-family: inherit;
    font-size: 15px;
    font-weight: bold;
}

::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
}

input {
    margin: 7px;
}



.btn {
    width: 100%;
    text-align: center;
    margin: 20px;
}

button {
    background-color: #e67e22;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    padding: 10px 15px;
    border: 1px solid;
}

button:hover {
    background-color: #bf6516;
}

footer {
    text-align: center;
    font-size: 17px;
    margin: 20px;
}

footer a {
    color: #f39c12;
    position: relative;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #f1c40f;
}

footer p {
    margin: 0;
    font-size: 17px;
}

@media only screen and (max-width: 768px) {
    body{
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://wallpapercave.com/wp/Fdh76FQ.jpg) center no-repeat fixed;
        background-size: cover;
    }

    h1 {
        font-size: 2em;
    }

    .labels {
        width: 100%;
        text-align: left;
    }
    .input-tab {
        width: 100%;
        float: left;
        margin-left: -10px;
    }
    .input-field {
        width: 100%;
    }
    select {
        width: 100%;
    }
    .btn {
        width: 100%;
        margin: auto;
    }
}




