.product{

}
*{
    font-family: "Arial Black";
}
body{
    background-color: white;
}
input{
    width: 50%;
    padding: 12px 20px;
    margin: 15px 0;
    border: thick double #32a1ce;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: thick double #32a1ce;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
.button{
    width: 100px;
    height: 50px;
    margin-top:10px;
    color: white;
    text-align: center;
}
.button_create{
    background: green;
}
.button_delete{

    background: red;

}
.button_edit{
    background: yellow;
    color: black;
}

.row {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid blue;
    border-radius: 4px;
    padding: 12px 20px;
    background-color: white;

}

a{
    text-decoration: none;


}
.a_product{

    background-color:lightslategray;
    margin: 10px;
    border: solid ;
    padding: 5px;
    text-align: center;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.my-block {
    display: block;
}
.my-block:hover {
    border:1px solid red;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
}


